<article class="my-5" id="email-body-<%= @email.id %>">
    <h3>Object : <%= @email.object %></h3>
    <p><%= @email.body %><p>
    <div class="btn-group mt-3">
        <%= link_to 'Supprimer', email_path(@email.id), method: :delete, class: 'btn btn-danger', remote: true %>
        <%= link_to 'Marquer comme non-lu', email_path(@email.id), method: :put, data: { params: { read: false, id: email.id }.to_param, remote: true}, class: 'btn btn-secondary btn-read', id: 'btn-read-' + @email.id.to_s %>
    </div>
</article>